.soc-mini { margin-left: 25px; width:110px;}
.soc-mini a {display: inline-block; *display: inline; *zoom: 1; margin-left: 2px; vertical-align: top; width: 29px; height: 29px; background: url(/files/icons/soc-mini.png) no-repeat;}
.soc1:hover {background-position: 0 -43px;}
.soc2 {background-position: -40px 0 !important;}
.soc2:hover {background-position: -40px -43px !important;}
.soc3 {background-position: -80px 0 !important;}
.soc3:hover {background-position: -80px -43px !important;}

.footer .logo{color: #c4c9cf;}
.footer a{color: #ffffff; padding-left: 20px;}
.footer table{width:100%;}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  background-color:#181f28;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 29px;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.vertical-align {
	display: table-cell;
    vertical-align: middle;
    height:29px;
}
