.postList{position:relative;}
.postList .photo-item-img{
	height:300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.postList .photo-item-img img{
	max-height:300px;
	max-width:100%;
	border:0;
}

.postList:before {
	content: "";
	pointer-events: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	background: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0.9)),to(transparent));
	background: linear-gradient(to top,rgba(0,0,0,0.9) 0%,transparent 100%);
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.postList .photo-item-title{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 10px 10px 10px;
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}
.postList .photo-item-title a{color: #fff;}
.photo-item-title p{
	text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.postList:hover .photo-item-title, .postList:hover:before{
	opacity: 1;
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
.postList-avatar{
	width: 20px;
	display: inline-block;
	height: 20px;
	background-size: contain;
	float: left;
	margin-right: 5px;
}
