.bar .current{color:#90EE90;text-decoration:underline;}
.moderatebox{}
.moderatebox .line{
	margin-bottom:30px;
	border-bottom:1px dashed #BFBFBF;
	clear:both;
}
.visual{float:left;}
.visual span{
	z-index:3;
	position:absolute;
	color:red;
}
.visual>div{
	width: 150px;
	margin:0 12px 0 0;
}
.visual>div>p{
	font-size:0.6em;
	max-width: 300px;
	margin: 0;
}
.visual>div>img{
	height:100px;
	max-width: 300px;
}
.active span{display:block;}
.passive span{display:none;}
.active img{opacity:0.5}
.passive img{}
.imgpopup {
	background-color: #E5E5E5;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 25px #000000;
	display: none;
	left: 20%;
	padding: 15px;
	position: absolute;
	text-align: left;
	z-index: 9999;
	width: 65%;
}
.pagination2 li{display: inline-block; float: left;margin-right: 5px;} 
