.category_panel{
	background-color: white !important;
	display:inline-block;
}
.category_panel .icons{display: inline-block;width: 20px;height: 20px;background-repeat: no-repeat;background-image:url('<?=HREF?>/modules/posts/tpl/files/icons/iset.png');background-color: transparent;padding: 0;margin: 0;}
.category_panel .icons-del{background-position: -18px -258px;}
.category_panel .icons-edit{background-position: -340px -24px;}
.category_panel .icons-add{background-position: -110px -258px;}