.container-user-info .row .col-md-12{margin-bottom: 15px;}
.container-user-info .row .col-md-12:last-child{margin-bottom: 0;}
.container-user-info .avatar{width: 120px;height: 120px;box-shadow: 0px 0px 12px #EFEFEF;}
.wrapper-user-info{
	padding: 10px 0 25px 0;
}
