.thumb_sm .photo-item-img{
	height:107px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.thumb_sm .photo-item-img img{
	max-height:107px;
	max-width:100%;
	border:0;
}
.thumb_sm a{color:#000000;} 
