.container-photo img{
	max-width: 600px;
}
.container-userinfo{
	border: 1px solid #DEDEDE;
	border-radius: 2%;
	padding: 15px 7px 7px 7px;
}
.container-userinfo .row .col-md-12{margin-bottom: 15px;}
.container-userinfo .row .col-md-12:last-child{margin-bottom: 0;}

.border-bt{
	border-bottom: 1px solid #f5f5f5 !important;
	border-top: 1px solid #f5f5f5 !important;
}
.border-left{
	border-left: 1px solid #f5f5f5 !important;
}