.container-download{
	border: 1px solid #DEDEDE;
	border-radius: 2%;
	padding: 15px 7px 7px 7px;
}
.container-download small a{text-decoration: none;color:#B6B6B6;}
.container-download .fa-heart{color: #878787}
.container-download .fa-heart:hover{color: #FF8383}