.achievement {display: block; float: left; margin: .5rem .12rem;}
.achievement.post {background: url('/files/user/achievements.png') no-repeat -180px -270px; background-size: 600px 450px; width: 30px; height: 30px;}
.achievement.upload {background: url('/files/user/achievements.png') no-repeat -480px 0px; background-size: 600px 450px; width: 30px; height: 30px;}
.achievement.info {background: url('/files/user/achievements.png') no-repeat 0px -360px; background-size: 600px 450px; width: 30px; height: 30px;}
