.social-auth a {
	display: inline-block;
	background: url('<?=HREF?>/files/user/icons/social.png');
	height: 66px;
	width: 66px;
}
.social-auth .auth-fb {
	background-position: -4px -2px;
}
.social-auth .auth-gplus {
	background-position: -230px -138px;
}
.social-auth .auth-tw {
	background-position: -80px -2px;
}
