.register {width:250px;text-align:left;}
.register h1{padding-top:20px;}
.register table{padding-top:50px;}
.register .button{
  border-radius: 8px;
  cursor: pointer;
  display: inline;
  padding: 8px 15px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  
  background-color: #b01a33;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  padding: 0px 15px;
  margin:10px 0;
  border:0px;
}
.register .button:hover{
	background-color: #b36767;
} 
.register input[type='text'],.register input[type='password']{
	background: #eee none repeat scroll 0 0;
	border: 1px solid #a7a7a7;
	font-style: normal;
	padding: 2px;
}
.register input, .register textarea{
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  display: block;
  line-height: 17px;
  margin: 0;
  width: 100%;
}
.register select:focus, .register input[type="text"]:focus, .register input[type="password"]:focus, .register textarea:focus {
	outline: medium none;
}
