.browse-cat-container{border: 1px solid silver;padding: 5px 10px;margin-bottom: 10px;border-radius: 5px}
.browse-cat-container > a{display:block;}
.browse-cat-container a{text-transform: capitalize;}
.browse-cat-container a h4{display:inline-block;margin-left: 5px}
.browse-cat-container small{color: #C3C3C3;}