.modal {
	z-index: 9999;
}
#pinForm .modal-dialog{
	max-width: 70vw;
}
#pinForm .modal-content{
	width: 50vw;
	min-height: 60vh;
	margin: auto;
}
#pinForm .list-group-item{
	padding: .5rem .9rem;
}
#createFolder {
	border: 0;
}
.mh-70{
	min-height: 70vh;
}
#createFolderForm hr{
	margin-left: -1rem;
	margin-right: -1rem;
}