.edittheme>div{display: inline-block;vertical-align: top}
.edittheme .sidebar,.edittheme .right-sidebar{width: 240px;}
.edittheme .content{width: 690px;margin: 0 8px;}
.edittheme .sidebar h2{margin: 0 0 5px 0}
.edittheme .sidebar>ul{padding:0 !important;}
.edittheme .sidebar ul{padding: 0 0 0 20px;cursor: pointer;}
.edittheme .sidebar li span{display: inline-block;vertical-align: top;}
.edittheme .sidebar li span:hover{background-color: #F1F1F1;}
.edittheme .sidebar li a{display:inline-block;vertical-align:top;color:#3D4EA4;}
.edittheme .sidebar ul>li>ul{display: none;}
.edittheme .content input[type="button"]{display: block;margin: auto 0 auto auto;}
#editor{display: block;width: 100%;height: 700px;white-space: pre;margin: 3px 0 0 0;}
#style-editor{display: block;width: 100%;height: 300px;white-space: pre;margin: 3px 0 0 0;}
.success{display: block;padding: 2px 5px 4px;background: #90EE90; color:#FFFFFF; font-weight: bold; font-size: 1em}
.warning{display: block;padding: 2px 5px 4px;background: #FF0000; color:#FFFFFF; font-weight: bold; font-size: 1em}
.del-icon {
	background: url('<?=HREF?>/files/icons/admin/themes/iset.png') no-repeat scroll 2px -262px / auto auto;
	display: inline-block;
	height: 17px;
	width: 14px;
	padding: 0;
}
.del-icon:hover{opacity: 0.4;}
.new-file-icon {
	background: url('<?=HREF?>/files/icons/admin/themes/iset.png') no-repeat scroll -92px -262px / auto auto;
	display: inline-block;
	height: 17px;
	width: 14px;
	padding: 0;
}
.new-file-icon:hover{opacity: 0.4;}
#themefiles{width: 100%;}
#themefiles>ul{padding:0;}
#themefiles>ul>li>ul{display:block;padding:0;}
#themefiles li{display: block;max-width: 100%;list-style: circle;}